.subtitle {
  position: relative;
  letter-spacing: 0.02em;
  color: #999;
  font-size: 1.3rem;
  font-family: tahoma;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 10px;
}
.subtitle::before {
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -1px;
  height: 2px;
  width: 26px;
  margin-left: 10px;
  background: linear-gradient(to left, #ff9f1c, #da8a19);
  content: "";
}
.subtitle::after {
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -3px;
  height: 6px;
  width: 6px;
  margin-left: 36px;
  background: linear-gradient(to left, #ff9f1c, #da8a19);
  content: "";
  border-radius: 50%;
}
